<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kitchen_item.name %>
</p>

<%= link_to 'Edit', edit_kitchen_item_path(@kitchen_item) %> |
<%= link_to 'Back', kitchen_items_path %>
