/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a:hover {
  background: none;
}

.recipe__item {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

.recipe__item main {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.recipe__item img {
  height: 100px !important;
  width: 100px !important;
  margin-right: 30px !important;
}

.ui.horizontal.divider {
  margin: 20px 0;
  padding: 50px 0;
}

.recipe__header {
  display: flex;
  margin-top: 50px;
}

.recipe__header main {
  flex-grow: 1;
}

.recipe__photo {
  border-radius: 50%;
  margin-right: 50px;
  max-width: 250px;
}

.statistics {
  margin-top: 100px;
}

input[type='radio'] {
  display: none;
}

input:checked + img {
  border: 5px solid limegreen;
}

.sales__recipe-item {
  display: flex;
}

.sales__recipe-item label {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  background: #efefef;
  border-radius: 10px;
  padding: 20px;
  width: 150px;
}

.sales__recipe-item img {
  border-radius: 50%;
  box-sizing: border-box;
  width: 100%;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.chart {
  margin-bottom: 5%;
  width: 45%;
}

.ui.statistic>.value, .ui.statistics .statistic>.value {
  font-size: 24px !important;
}

.ui.statistic>.label, .ui.statistics .statistic>.label {
  color: #aaa;
}

.ui.statistics:first-child {
  margin: 50px 0;
}

.ui.statistics {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ui.statistics>.statistic {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background: #efefef;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 18%;
  height: 100px;
  margin: 0;
  padding: 10px;
  font-size: 12px;
  position: relative;
}

.ui.statistics>.statistic i.good {
  position: absolute;
  top: -10px;
  right: -12px;
  color: green;
  background: white;
  border-radius: 50%;
}

.ui.statistics>.statistic i.bad {
  position: absolute;
  color: red;
  bottom: -10px;
  right: -12px;
  background: white;
  border-radius: 50%;
}

.ui .statistics::after {
  display: none;
  content: '';
  height: 0;
  clear: none;
  overflow: hidden;
  visibility: hidden;
}

ul {
  margin: 0;
}

.right-align {
  text-align: right !important;
}

.stats-header {
  font-size: 16px;
  margin-top: 50px;
}

.overview-divider {
  margin-top: 75px;
  border: 1px solid #efefef;
}
