// Place all the styles related to the sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sale {
  border: 1px solid #ccc;
  background: #efefef;
  display: block;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}

.sale__header {
  display: flex;
  justify-content: space-between;
}
