<h1>Editing Recipe Processed Item</h1>

<%= render 'form', recipe_processed_item: @recipe_processed_item %>

<%= link_to 'Show', @recipe_processed_item %> |
<%= link_to 'Back', recipe_processed_items_path %>
